
# Individual Project 2
### Author: Carmen Gasco Galvez
Version: 1.20.3, 
Spring semester

In [1]:
#First, we import pandas and numpy
import pandas as pd
import numpy as np

1.	Attached to this assignment in Moodle is a file called weather_2012.csv. Download this file and put it in the same directory as your notebook. Read the file into a dataset named “df”.

In [6]:
df=pd.read_csv('weather_2012.csv')

2.	Write the code to display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [7]:
df.head() #first 5 rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [8]:
df.tail() #last 5 rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [10]:
df.sample(5) #Five random rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
4028,2012-06-16 20:00:00,23.1,11.8,49,4,48.3,101.62,Mainly Clear
8652,2012-12-26 12:00:00,-10.6,-14.3,74,20,48.3,102.36,Mainly Clear
8101,2012-12-03 13:00:00,4.0,1.2,82,9,24.1,101.95,Cloudy
5171,2012-08-03 11:00:00,27.1,17.3,55,13,24.1,100.99,Mainly Clear
5892,2012-09-02 12:00:00,24.4,8.8,37,4,48.3,101.49,Mainly Clear

3.	Write the code to display a list of all of the columns in the dataset.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

4.	The column names are unwieldy for our purposes. Rename them according to this list {date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}.  Keep a copy of the original columns so we can change them back  if needed at the end of our analysis.

In [72]:
originalcolumns=df.columns
originalcolumns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [78]:
df.columns =(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather'])

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   wind_speed         8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

5.	Most of the data in the dataset are numerical, write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [80]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

6.	Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit.

In [81]:
df['temp_f'] = (1.8 * df.temp_c) +32

In [82]:
df.head(1)

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76

7.	Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c.

In [83]:
df=df.iloc[:,[0,8,1,2,3,4,5,6,7]]

8.	Write the code to display the data types of all the columns in the dataset.

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

9.	You’ll notice that the date_time column is not actually considered a date by Pandas.  Write the code to convert this column to a date/time column. Verify the conversion was successful.

In [85]:
df['date_time']=pd.to_datetime(df["date_time"])

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

10.	Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [87]:
df['weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: weather, dtype: int64

In [88]:
df['weather'].value_counts().head(10) #top 10

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

11.	Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is clear? Extract that data and save it to a new data frame.

In [89]:
df.query('temp_f>90 & relative_humidity<50 & dew_point>17 & weather=="Clear"')

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

The month is 08, August.

12.	Extract the month information from the date_time column and add a month column at the data frame. (example: dt.month)

In [90]:
df['month'] = pd.DatetimeIndex(df['date_time']).month

In [91]:
df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1
...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow,12
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow,12
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow,12
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow,12
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow,12